/*
 * Color palette
 * ----------------------------------------------------- */


$white: 		#ffffff;
$black: 		#000000;

$facebook:      #5d82d1;
$twitter:       #40bff5;
$googleplus:    #eb5e4c;
$youtube:       #ef4e41;

$green:         #27ccc0;

$blue:          #21cdec;

$darkest-blue:  #0e1015;

$purple:        #6856c7;
$dark-purple:   #2C2263;