<header id="header" class="header__server container">
    <div class="header row">
        <i class="header__icon icon-shield"></i>
        <h1 class="header__title">{% if server_name %} {{ server_name }} {% else %} Servidor {% endif %}</h1>
        <div class="header__desc">
            <p>CAP: 110 &#8226; DEGREE 11th</p>
            <p>MASTERY: 120 &#8226; ALCHEMY RATE: 40%</p>
            <p>EXP RATE: 35x &#8226; EXP PARTY RATE: 60x</p>
            <p>GOLD DROP RATE: 30x &#8226; ITEM DROP RATE: 30x</p>
        </div>
        <div class="header__anchors">
            <p data-href="#" data-target="_blank"><i class="icon-link"></i> PÁGINA DO SERVIDOR</p>
            <p data-href="#" data-target="_blank"><i class="icon-link"></i> PÁGINA DE REGISTRO</p>
        </div>
    </div>
</header>