{% extends 'base.html' %}

{% block header %}
    {% include 'partials/topbar.html' %}
    {% include 'partials/header.html' %}
{% endblock %}

{% block container %}
    <div class="container servers__container">
        <section id="servers" class="row">
            <div class="large-32 columns">
                <div class="servers__nationals row">
                    <header class="servers__header">
                        <h3 class="servers__header-nationality">Brasileiros</h3>
                    </header>
                    <ul class="servers__list large-block-grid-2">
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    Brother SRO
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    Empire SRO
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    Evolust SRO
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    Family ROAD
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    Revolution2SRO
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    ZsZc Silkroad
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="large-68 columns">
                <div class="servers__internationals row">
                    <header class="servers__header">
                        <h3 class="servers__header-nationality">Internacionais</h3>
                    </header>
                    <ul class="servers__list large-block-grid-5">
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    Brother SRO
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    Empire SRO
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    Evolust SRO
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    Family ROAD
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    Revolution2SRO
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    ZsZc Silkroad
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    Brother SRO
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    Empire SRO
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    Evolust SRO
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    Family ROAD
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    Revolution2SRO
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    ZsZc Silkroad
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    Family ROAD
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    Revolution2SRO
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                        <li class="servers__list-item" data-href="#">
                            <div class="servers__box">
                                <i class="servers__box-icon icon-shield"></i>
                                <h6 class="servers__box-name">
                                    ZsZc Silkroad
                                </h6>
                                <p class="servers__box-info">Cap 110 | Degree 11th</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock %}