{% extends 'base.html' %}

{% block header %}
    {% include 'partials/topbar.html' %}
    {% include 'partials/header_server.html' %}
{% endblock %}

{% block container %}
    <section id="server" class="container">
    <div class="server__tabs">
        <div class="row">
            <dl class="tabs" data-tab>
                <dd class="active"><a href="#donates">DONATES</a></dd>
                <dd><a href="#gallery">GALERIA</a></dd>
                <dd><a href="#info">INFORMAÇÕES</a></dd>
            </dl>
        </div>
    </div>
    <div class="tabs-content row">
        <div class="content active" id="donates">
            <h5 class="server__pricetable-title">Silks</h5>
            <div class="server__pricetable-wrapper">
                <ul class="server__pricetable-list large-block-grid-5">
                    <li class="server__pricetable-list-item">
                        <div class="server__pricetable-box">
                            <ul class="pricing-table">
                              <li class="title"><p>Mudar nome do char + 100 Silks</p></li>
                              <li class="price">R$ 99.99</li>
                              <li class="description">Pacote de Silks para servidor BrotherSRO</li>
                              <li class="cta-button"><a class="button" href="#"><i class="icon-cart"></i> Comprar</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="server__pricetable-list-item">
                        <div class="server__pricetable-box">
                            <ul class="pricing-table">
                              <li class="title"><p>400 Silks</p></li>
                              <li class="price">R$ 99.99</li>
                              <li class="description">Pacote de Silks para servidor BrotherSRO</li>
                              <li class="cta-button"><a class="button" href="#"><i class="icon-cart"></i> Comprar</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="server__pricetable-list-item">
                        <div class="server__pricetable-box">
                            <ul class="pricing-table">
                              <li class="title"><p>400 Silks</p></li>
                              <li class="price">R$ 99.99</li>
                              <li class="description">Pacote de Silks para servidor BrotherSRO</li>
                              <li class="cta-button"><a class="button" href="#"><i class="icon-cart"></i> Comprar</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="server__pricetable-list-item">
                        <div class="server__pricetable-box">
                            <ul class="pricing-table">
                              <li class="title"><p>400 Silks</p></li>
                              <li class="price">R$ 99.99</li>
                              <li class="description">Pacote de Silks para servidor BrotherSRO</li>
                              <li class="cta-button"><a class="button" href="#"><i class="icon-cart"></i> Comprar</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="server__pricetable-list-item">
                        <div class="server__pricetable-box">
                            <ul class="pricing-table">
                              <li class="title"><p>400 Silks</p></li>
                              <li class="price">R$ 99.99</li>
                              <li class="description">Pacote de Silks para servidor BrotherSRO</li>
                              <li class="cta-button"><a class="button" href="#"><i class="icon-cart"></i> Comprar</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="server__pricetable-list-item">
                        <div class="server__pricetable-box">
                            <ul class="pricing-table">
                              <li class="title"><p>400 Silks</p></li>
                              <li class="price">R$ 99.99</li>
                              <li class="description">Pacote de Silks para servidor BrotherSRO</li>
                              <li class="cta-button"><a class="button" href="#"><i class="icon-cart"></i> Comprar</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="server__pricetable-list-item">
                        <div class="server__pricetable-box">
                            <ul class="pricing-table">
                              <li class="title"><p>400 Silks</p></li>
                              <li class="price">R$ 99.99</li>
                              <li class="description">Pacote de Silks para servidor BrotherSRO</li>
                              <li class="cta-button"><a class="button" href="#"><i class="icon-cart"></i> Comprar</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="server__pricetable-list-item">
                        <div class="server__pricetable-box">
                            <ul class="pricing-table">
                              <li class="title"><p>400 Silks</p></li>
                              <li class="price">R$ 99.99</li>
                              <li class="description">Pacote de Silks para servidor BrotherSRO</li>
                              <li class="cta-button"><a class="button" href="#"><i class="icon-cart"></i> Comprar</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="server__pricetable-list-item">
                        <div class="server__pricetable-box">
                            <ul class="pricing-table">
                              <li class="title"><p>400 Silks</p></li>
                              <li class="price">R$ 99.99</li>
                              <li class="description">Pacote de Silks para servidor BrotherSRO</li>
                              <li class="cta-button"><a class="button" href="#"><i class="icon-cart"></i> Comprar</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="server__pricetable-list-item">
                        <div class="server__pricetable-box">
                            <ul class="pricing-table">
                              <li class="title"><p>400 Silks</p></li>
                              <li class="price">R$ 99.99</li>
                              <li class="description">Pacote de Silks para servidor BrotherSRO</li>
                              <li class="cta-button"><a class="button" href="#"><i class="icon-cart"></i> Comprar</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="server__pricetable-list-item">
                        <div class="server__pricetable-box">
                            <ul class="pricing-table">
                              <li class="title"><p>400 Silks</p></li>
                              <li class="price">R$ 99.99</li>
                              <li class="description">Pacote de Silks para servidor BrotherSRO</li>
                              <li class="cta-button"><a class="button" href="#"><i class="icon-cart"></i> Comprar</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content" id="gallery">
            <div class="server__carousel">
                <img src="http://placehold.it/1200x600" alt="Image 1">
                <img src="http://placehold.it/1200x600" alt="Image 2">
            </div>
        </div>
        <div class="content" id="info">
            <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock %}